.u-border-2 {
	border-width: 2px;
}

.u-border-pink-300 {
	border-color: var(--pink-300);
}

.u-border-solid {
	border-style: solid;
}

.u-border-r-1 {
	border-right-width: 1px;
}

.u-border-r-gray-300 {
	border-right-color: var(--gray-300);
}

.u-border-r-solid {
	border-right-style: solid;
}

.u-rounded-sm {
	border-radius: 0.375rem;
}

.u-rounded-md {
	border-radius: 0.5rem;
}
