// Padding
.u-pl-xs {
	padding-left: var(--spacing-xs);
}

.u-pl-sm {
	padding-left: var(--spacing-sm);
}

.u-pl-md {
	padding-left: var(--spacing-md);
}

.u-pl-lg {
	padding-left: var(--spacing-lg);
}

.u-pl-xl {
	padding-left: var(--spacing-xl);
}

.u-pl-2xl {
	padding-left: var(--spacing-2xl);
}

.u-pl-3xl {
	padding-left: var(--spacing-3xl);
}

.u-pl-4xl {
	padding-left: var(--spacing-4xl);
}

.u-pl-250 {
	padding-left: 250px;
}

.u-pr-xs {
	padding-right: var(--spacing-xs);
}

.u-pr-sm {
	padding-right: var(--spacing-sm);
}

.u-pr-md {
	padding-right: var(--spacing-md);
}

.u-pr-lg {
	padding-right: var(--spacing-lg);
}

.u-pr-xl {
	padding-right: var(--spacing-xl);
}

.u-pr-2xl {
	padding-right: var(--spacing-2xl);
}

.u-pr-3xl {
	padding-right: var(--spacing-3xl);
}

.u-pr-4xl {
	padding-right: var(--spacing-4xl);
}

.u-pt-xs {
	padding-top: var(--spacing-xs);
}

.u-pt-sm {
	padding-top: var(--spacing-sm);
}

.u-pt-md {
	padding-top: var(--spacing-md);
}

.u-pt-lg {
	padding-top: var(--spacing-lg);
}

.u-pt-xl {
	padding-top: var(--spacing-xl);
}

.u-pt-2xl {
	padding-top: var(--spacing-2xl);
}

.u-pt-3xl {
	padding-top: var(--spacing-3xl);
}

.u-pt-4xl {
	padding-top: var(--spacing-4xl);
}

.u-pb-xs {
	padding-bottom: var(--spacing-xs);
}

.u-pb-sm {
	padding-bottom: var(--spacing-sm);
}

.u-pb-md {
	padding-bottom: var(--spacing-md);
}

.u-pb-lg {
	padding-bottom: var(--spacing-lg);
}

.u-pb-xl {
	padding-bottom: var(--spacing-xl);
}

.u-pb-2xl {
	padding-bottom: var(--spacing-2xl);
}

.u-pb-3xl {
	padding-bottom: var(--spacing-3xl);
}

.u-pb-4xl {
	padding-bottom: var(--spacing-4xl);
}

.u-px-xs {
	padding-left: var(--spacing-xs);
	padding-right: var(--spacing-xs);
}

.u-px-sm {
	padding-left: var(--spacing-sm);
	padding-right: var(--spacing-sm);
}

.u-px-md {
	padding-left: var(--spacing-md);
	padding-right: var(--spacing-md);
}

.u-px-lg {
	padding-left: var(--spacing-lg);
	padding-right: var(--spacing-lg);
}

.u-px-xl {
	padding-left: var(--spacing-xl);
	padding-right: var(--spacing-xl);
}

.u-px-2xl {
	padding-left: var(--spacing-2xl);
	padding-right: var(--spacing-2xl);
}

.u-px-3xl {
	padding-left: var(--spacing-3xl);
	padding-right: var(--spacing-3xl);
}

.u-px-4xl {
	padding-left: var(--spacing-4xl);
	padding-right: var(--spacing-4xl);
}

.u-py-xs {
	padding-bottom: var(--spacing-xs);
	padding-top: var(--spacing-xs);
}

.u-py-sm {
	padding-bottom: var(--spacing-sm);
	padding-top: var(--spacing-sm);
}

.u-py-md {
	padding-bottom: var(--spacing-md);
	padding-top: var(--spacing-md);
}

.u-py-lg {
	padding-bottom: var(--spacing-lg);
	padding-top: var(--spacing-lg);
}

.u-py-xl {
	padding-bottom: var(--spacing-xl);
	padding-top: var(--spacing-xl);
}

.u-py-2xl {
	padding-bottom: var(--spacing-2xl);
	padding-top: var(--spacing-2xl);
}

.u-py-3xl {
	padding-bottom: var(--spacing-3xl);
	padding-top: var(--spacing-3xl);
}

.u-py-4xl {
	padding-bottom: var(--spacing-4xl);
	padding-top: var(--spacing-4xl);
}

.u-p-xs {
	padding-bottom: var(--spacing-xs);
	padding-left: var(--spacing-xs);
	padding-right: var(--spacing-xs);
	padding-top: var(--spacing-xs);
}

.u-p-sm {
	padding-bottom: var(--spacing-sm);
	padding-left: var(--spacing-sm);
	padding-right: var(--spacing-sm);
	padding-top: var(--spacing-sm);
}

.u-p-md {
	padding-bottom: var(--spacing-md);
	padding-left: var(--spacing-md);
	padding-right: var(--spacing-md);
	padding-top: var(--spacing-md);
}

.u-p-lg {
	padding-bottom: var(--spacing-lg);
	padding-left: var(--spacing-lg);
	padding-right: var(--spacing-lg);
	padding-top: var(--spacing-lg);
}

.u-p-xl {
	padding-bottom: var(--spacing-xl);
	padding-left: var(--spacing-xl);
	padding-right: var(--spacing-xl);
	padding-top: var(--spacing-xl);
}

.u-p-2xl {
	padding-bottom: var(--spacing-2xl);
	padding-left: var(--spacing-2xl);
	padding-right: var(--spacing-2xl);
	padding-top: var(--spacing-2xl);
}

.u-p-3xl {
	padding-bottom: var(--spacing-3xl);
	padding-left: var(--spacing-3xl);
	padding-right: var(--spacing-3xl);
	padding-top: var(--spacing-3xl);
}

.u-p-4xl {
	padding-bottom: var(--spacing-4xl);
	padding-left: var(--spacing-4xl);
	padding-right: var(--spacing-4xl);
	padding-top: var(--spacing-4xl);
}

// Margin
.u-ml-xs {
	margin-left: var(--spacing-xs);
}

.u-ml-sm {
	margin-left: var(--spacing-sm);
}

.u-ml-md {
	margin-left: var(--spacing-md);
}

.u-ml-lg {
	margin-left: var(--spacing-lg);
}

.u-ml-xl {
	margin-left: var(--spacing-xl);
}

.u-ml-2xl {
	margin-left: var(--spacing-2xl);
}

.u-ml-3xl {
	margin-left: var(--spacing-3xl);
}

.u-ml-4xl {
	margin-left: var(--spacing-4xl);
}

.u-mr-xs {
	margin-right: var(--spacing-xs);
}

.u-mr-sm {
	margin-right: var(--spacing-sm);
}

.u-mr-md {
	margin-right: var(--spacing-md);
}

.u-mr-lg {
	margin-right: var(--spacing-lg);
}

.u-mr-xl {
	margin-right: var(--spacing-xl);
}

.u-mr-2xl {
	margin-right: var(--spacing-2xl);
}

.u-mr-3xl {
	margin-right: var(--spacing-3xl);
}

.u-mr-4xl {
	margin-right: var(--spacing-4xl);
}

.u-mt-xs {
	margin-top: var(--spacing-xs);
}

.u-mt-sm {
	margin-top: var(--spacing-sm);
}

.u-mt-md {
	margin-top: var(--spacing-md);
}

.u-mt-lg {
	margin-top: var(--spacing-lg);
}

.u-mt-xl {
	margin-top: var(--spacing-xl);
}

.u-mt-2xl {
	margin-top: var(--spacing-2xl);
}

.u-mt-3xl {
	margin-top: var(--spacing-3xl);
}

.u-mt-4xl {
	margin-top: var(--spacing-4xl);
}

.u-mb-xs {
	margin-bottom: var(--spacing-xs);
}

.u-mb-sm {
	margin-bottom: var(--spacing-sm);
}

.u-mb-md {
	margin-bottom: var(--spacing-md);
}

.u-mb-lg {
	margin-bottom: var(--spacing-lg);
}

.u-mb-xl {
	margin-bottom: var(--spacing-xl);
}

.u-mb-2xl {
	margin-bottom: var(--spacing-2xl);
}

.u-mb-3xl {
	margin-bottom: var(--spacing-3xl);
}

.u-mb-4xl {
	margin-bottom: var(--spacing-4xl);
}

.u-mx-xs {
	margin-left: var(--spacing-xs);
	margin-right: var(--spacing-xs);
}

.u-mx-sm {
	margin-left: var(--spacing-sm);
	margin-right: var(--spacing-sm);
}

.u-mx-md {
	margin-left: var(--spacing-md);
	margin-right: var(--spacing-md);
}

.u-mx-lg {
	margin-left: var(--spacing-lg);
	margin-right: var(--spacing-lg);
}

.u-mx-xl {
	margin-left: var(--spacing-xl);
	margin-right: var(--spacing-xl);
}

.u-mx-2xl {
	margin-left: var(--spacing-2xl);
	margin-right: var(--spacing-2xl);
}

.u-mx-3xl {
	margin-left: var(--spacing-3xl);
	margin-right: var(--spacing-3xl);
}

.u-mx-4xl {
	margin-left: var(--spacing-4xl);
	margin-right: var(--spacing-4xl);
}

.u-my-xs {
	margin-bottom: var(--spacing-xs);
	margin-top: var(--spacing-xs);
}

.u-my-sm {
	margin-bottom: var(--spacing-sm);
	margin-top: var(--spacing-sm);
}

.u-my-md {
	margin-bottom: var(--spacing-md);
	margin-top: var(--spacing-md);
}

.u-my-lg {
	margin-bottom: var(--spacing-lg);
	margin-top: var(--spacing-lg);
}

.u-my-xl {
	margin-bottom: var(--spacing-xl);
	margin-top: var(--spacing-xl);
}

.u-my-2xl {
	margin-bottom: var(--spacing-2xl);
	margin-top: var(--spacing-2xl);
}

.u-my-3xl {
	margin-bottom: var(--spacing-3xl);
	margin-top: var(--spacing-3xl);
}

.u-my-4xl {
	margin-bottom: var(--spacing-4xl);
	margin-top: var(--spacing-4xl);
}

// Gap
.u-gap-xs {
	gap: var(--spacing-xs);
}

.u-gap-sm {
	gap: var(--spacing-sm);
}

.u-gap-md {
	gap: var(--spacing-md);
}

.u-gap-lg {
	gap: var(--spacing-lg);
}

.u-gap-xl {
	gap: var(--spacing-xl);
}

.u-gap-2xl {
	gap: var(--spacing-2xl);
}

.u-gap-3xl {
	gap: var(--spacing-3xl);
}

@media only screen and (max-width: 900px) {
	.md\:u-mb-0 {
		margin-bottom: 0;
	}
	
	.md\:u-mx-auto {
		margin-left: auto;
		margin-right: auto;
	}
	
	.md\:u-pl-0 {
		padding-left: 0;
	}
	
	.md\:u-pt-0 {
		padding-top: 0;
	}
	
	.md\:u-p-0 {
		padding: 0;
	}
}
