// Font Size
.u-text-xs {
	font-size: var(--font-size-xs);
}

.u-text-sm {
	font-size: var(--font-size-sm);
}

.u-text-md {
	font-size: var(--font-size-md);
}

.u-text-lg {
	font-size: var(--font-size-lg);
}

.u-text-xl {
	font-size: var(--font-size-xl);
}

.u-text-2xl {
	font-size: var(--font-size-2xl);
}

.u-text-3xl {
	font-size: var(--font-size-3xl);
}

.u-text-4xl {
	font-size: var(--font-size-4xl);
}

.u-text-5xl {
	font-size: var(--font-size-5xl);
}

// Text Color
.u-text-gray-300 {
	color: var(--gray-300);
}

.u-text-gray-400 {
	color: var(--gray-400);
}

.u-text-gray-500 {
	color: var(--gray-500);
}

.u-text-gray-600 {
	color: var(--gray-600);
}

.u-text-gray-700 {
	color: var(--gray-700);
}

.u-text-gray-800 {
	color: var(--gray-800);
}

.u-text-gray-900 {
	color: var(--gray-900);
}
